<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <form method="POST">
      <div class="form-group">
        <h3 text-align="center" class="log">Lets Sign you in</h3>
        <h5 class="log2">Welcome back,<br> you have been missed</h5>
        <label for="email" class="mail">Email Address</label>
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter Email"
        />
        <label for="password" class="pass">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter Password"
        />
        <br />
        <div text-align="center">
          <button class="btn btn-primary login" type="submit">Login</button>
        </div>
        <br />
        <p style="text-align: right;">Don&apos;t have an account? <a href="/sign-up">Register here</a></p>
      </div>
    </form>
    {% endblock %}