<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
<img class="image" src="https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YmxvZyUyMGxvZ298ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt ="img">
<div class="main">
    <h2 class="head"> Freedom&#127345; </h2>
    <br>
    <p>A blog, a place where a person writes regularly about topics that interest them. A blog is your best bet for a voice among the online crowd.  </p>
    <br>
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button class=" btn btn-primary button" style="background-color: #267693;"><a class="link" href="/login">Login</a> </button>
        <button class=" btn btn-info button"> <a class="link" href="/sign-up">Sign-up</a> </button>
    </div>
</div>

{% endblock %}