<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <form method="POST">
      <h3 class="log">Login</h3>
      <div class="form-group">
        <label for="email" class="mail">Email Address</label>
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter Email"
        />
        <label for="password" class="pass">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter Password"
          style="background-color: #052B12;"
        />
        <br />
        <div class="but" text-align="center">
          <button class="btn" style="background-color:#267693;" type="submit">Login</button>
        </div>
      </div>
    </form>
    {% endblock %}